---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app komf
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: komga
  values:
    controllers:
      komf:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: sndxr/komf
              tag: 1.7.1@sha256:4a6971a76abc30869f6d0555a7328ff8cd879f3016a7378395df331c1245cbb2
            env:
              KOMF_KOMGA_BASE_URI: http://komga.default.svc.cluster.local:8080
              KOMF_LOG_LEVEL: INFO
            envFrom:
              - secretRef:
                  name: komf-secret
            resources:
              requests:
                memory: 4282M
                cpu: 15m
              limits:
                memory: 4282M
    service:
      app:
        controller: *app
        ports:
          http:
            port: 8085
    persistence:
      config:
        enabled: true
        existingClaim: komf-config
        globalMounts:
          - path: /config
      configmap:
        enabled: true
        type: configMap
        name: komf-configmap
        globalMounts:
          - path: /config/application.yml
            readOnly: true
            subPath: application.yml
