---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app snmp-exporter
spec:
  interval: 30m
  chart:
    spec:
      chart: prometheus-snmp-exporter
      version: 9.9.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    fullnameOverride: *app
    image:
      repository: quay.io/prometheus/snmp-exporter
    serviceMonitor:
      enabled: true
      namespace: observability
      params:
        - name: rackups
          auth: ["public_v1"]
          module: ["cyberpower"]
          target: 192.168.2.22
        - name: utilityups
          auth: ["public_v2"]
          module: ["apcups"]
          target: 192.168.2.23
      path: /snmp
      scrapeTimeout: 10s
      relabelings:
        - sourceLabels: [__param_target]
          targetLabel: instance
